* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(Components/bgGREEN.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: "Cabin", sans-serif;
  font-family: "Michroma", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-family: "Ysabeau SC", sans-serif;
  overflow: hidden;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  position: relative;
  height: 52px;
  width: 100%;
  z-index: 100;
}
.Navlogo a {
  color: #9a9a9a;
  margin-left: 5px;
  margin-bottom: 20px;
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}
.Navlogo a:hover{
  font-size: 35px;
  padding: 2px;
  border-bottom:2px solid #d9dad9;
}
.Navdetail{
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  height: 50px;
  overflow: hidden;
}

.Navlist,.Navdrop{
  list-style: none;
  padding: 10px;
  margin: 0px 10px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.Navlist:hover{
  font-weight: bolder;
  border-bottom:2px solid #bff9c9;
  border-radius: 30px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.235);
}

a {
  text-decoration: none;
  font-size: 18px;
  color:#989998;
}

select,
option {
  font-family: "Cabin", sans-serif;
  font-family: "Michroma", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-family: "Ysabeau SC", sans-serif;
  color: #000000;
  background-color:#617d66;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
}
#contactSelect:hover{
  font-weight: bolder;
  color: rgb(89, 89, 89);
  background-color:rgb(139, 139, 139);
}
.search {
  position: absolute;
  right: 10px;
}
i{
  height: 20px;
  outline: none;
  color: #04364A;
  margin: 2px;
}
#searchInput{
  height: 20px;
  width: 80px;
  border-radius: 5px;
  border-color: gray;
  outline: none;
  color: #04364A;
  text-align: center;
  margin: 2px;
  transition: all 0.2s ease-in-out;
  font-family: "Cabin", sans-serif;
  font-family: "Michroma", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-family: "Ysabeau SC", sans-serif;
}
#searchInput:hover{
  width: 150px;
}
/* Navbar */

/* Body */
.container{
  display: flex;
  position: relative;
  align-items:  center;
  justify-content: center;
}
.picture{
  position: absolute;
  left: 1px;
  bottom: 0.5px;
}
.profilepic{
  border-radius: 20px;
  width: 450px;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  border-bottom-right-radius:50%;
  border-bottom-Left-radius:50%;
  border: none;
}


.detail{
  height: 80vh;
  margin-left: 35vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.Name{
  font-size: 70px;
  color: #989998;
  text-decoration: underline;
}
.Name::first-letter{
  color:rgb(88, 128, 88);
}
.detailinfo{
  line-height: 65px;
  color: #989998;
  font-size: 20px;
  list-style: none;
}

.detailinfo::first-letter{
  color:rgb(88, 128, 88);
}
/* Body */

/* Footer */
.box {
  display: flex;
  height: 8vh; 
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
  overflow: visible; /* set overflow to visible */
  background-color: rgba(255, 255, 255, 0.396);
}

.social {
  display: flex;
  justify-content: space-between; /* space-between for equal distribution */
  align-items: center;
  height: 15px;
  position: absolute;
  bottom: 0; /* align footer to the bottom of the box */
  left: 50px; /* adjust as necessary */
  right: 50px; /* adjust as necessary */ /* provide padding if needed */
}

p {
  font-size:20px;
  color: white;
  height: 20px;
  margin-bottom: 15px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.sociallink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px; /* adjust padding as needed */
}

.fa-xl {
  font-size: 20px;
  position: absolute;
  margin-top: 20px; /* adjust icon size as needed */
}

/* Media Querry */
@media only screen and (max-width: 768px) {
  .Navdetail {
    flex-direction: column;
    align-items: center;
  }

  .Navlist,
  .Navdrop {
    margin: 5px 0;
  }

  .search {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
  }

  #searchInput {
    width: 100%;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .detail {
    margin-left: 0;
    width: 100%;
  }

  .picture {
    position: static;
    text-align: center;
    margin-bottom: 20px;
  }

  .profilepic {
    width: 100%;
  }
}
